body {
    background-color: #ffffff00;
    background-image: url('../img/Fundo\ Cafeteria.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    backdrop-filter: blur(15px);
    font-family: Arial, sans-serif;
}

@media (max-width: 900px) {
    body {
        background-image: url('../img/foto\ de\ fundo\ Torra.jpg');
    }
}

@media (max-width: 600px) {}