body {
    background-color: #2b4021;
    background-image: url('../img/Fundo\ Cafeteria.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    backdrop-filter: blur(15px);
    font-family: Arial, sans-serif;
}