footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2d18;
    padding-bottom: 50px;
}
footer img{
    transition: 0.5s;
}
footer img:hover{
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

footer a{
    text-decoration: none;
    color: #ffffff5e;
    transition: 500ms;
}
footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

footer ul li{
    margin: 0 15px;
    font-size: 24px;
}

footer a:hover{
    font-size: 34px;
    color: #ffffff;
    transition: 0.5s;
}

footer p{
    color: #ffffff5e;
    font-size: 22px;
}



































.body {

    margin-top: 50px;

    padding: 0;

    display: flex;

    align-items: center;

    justify-content: center;  

    font-family: sans-serif;



}

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #3e5c30;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);
    

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);
}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #1e3dff;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #ffffff;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #ffffff;
    
} 

.btn {
    
    margin: 0 0 10px 0;
    
    padding: 0;
    
    font-size: 24px;
    
    text-align: center;
    
    color: #ffffff;
    
} 



.content  {
    text-align: center;

} 

i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    transition: 0.5s;
}
i:hover{
    top: 10%;
    transition: 0.5s;
}
i img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: 0.5s;
}

i img:hover{
    width: 160px;
    height: 160px;
    transition: 0.5s;
}




.foto-instagram-arthur{
    margin-top: 20px;
}

.azul{
    color: #1e3dff;
    
}